{% extends "layout.html" %}

{% block page_title %}
  GOV.UK PDE - Approved
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">Approved for a blue badge permit</h1>
        <p class="font-large">
          Benefit valid until
          <br>
          <span class="bold">22 August 2019</span>
        </p>
      </div>

      <a href="start-page">Do another check</a>

    </div>
  </div>

</main>

{% endblock %}
