
<table>
  <thead>
    <tr>
      <th scope="col">Publisher</th>
      <th scope="col">Location</th>
      <th scope="col">Broadband speed</th>
      <th class="numeric" scope="col">Longitude</th>
      <th class="numeric" scope="col">Latitude</th>
      <th scope="col">Active since</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Birmingham City Council</td>
      <td>Olive Drive</td>
      <td>&gt; 30Mb/s</td>
      <td class="numeric">0.23</td>
      <td class="numeric">53.4</td>
      <td>10/01/2006</td>
    </tr>
    <tr>
      <td>Birmingham City Council</td>
      <td>Smith Street</td>
      <td>&gt; 30Mb/s</td>
      <td class="numeric">0.23</td>
      <td class="numeric">53.4</td>
      <td>10/01/2006</td>
    </tr>
    <tr>
      <td>Birmingham City Council</td>
      <td>Hinderton Road</td>
      <td>&gt; 30Mb/s</td>
      <td class="numeric">0.23</td>
      <td class="numeric">53.4</td>
      <td>11/10/2008</td>
    </tr>
    <tr>
      <td>Birmingham City Council</td>
      <td>Main street</td>
      <td>&gt; 30Mb/s</td>
      <td class="numeric">0.23</td>
      <td class="numeric">53.4</td>
      <td>01/12/2014</td>
    </tr>
    <tr>
      <td>Birmingham City Council</td>
      <td>High Street</td>
      <td>&gt; 30Mb/s</td>
      <td class="numeric">0.23</td>
      <td class="numeric">53.4</td>
      <td>01/12/2001</td>
    </tr>
    <tr>
      <td>Birmingham City Council</td>
      <td>High Street</td>
      <td>&gt; 30Mb/s</td>
      <td class="numeric">0.23</td>
      <td class="numeric">53.4</td>
      <td>10/01/2006</td>
    </tr>
    <tr>
      <td>Birmingham City Council</td>
      <td>Warwickshire Drive</td>
      <td>&gt; 30Mb/s</td>
      <td class="numeric">0.23</td>
      <td class="numeric">53.4</td>
      <td>10/01/2006</td>
    </tr>
    <tr>
      <td>Birmingham City Council</td>
      <td>The Avenue</td>
      <td>&gt; 30Mb/s</td>
      <td class="numeric">0.23</td>
      <td class="numeric">53.4</td>
      <td>11/10/2008</td>
    </tr>
    <tr>
      <td>Birmingham City Council</td>
      <td>Yew tree close</td>
      <td>&gt; 30Mb/s</td>
      <td class="numeric">0.23</td>
      <td class="numeric">53.4</td>
      <td>01/12/2014</td>
    </tr>
    <tr>
      <td>Wirral Council</td>
      <td>Yew tree gardens</td>
      <td>&gt; 30Mb/s</td>
      <td class="numeric">0.23</td>
      <td class="numeric">53.4</td>
      <td>01/12/2001</td>
    </tr>
    <tr>
      <td>Wirral Council</td>
      <td>Olive Drive</td>
      <td>&gt; 30Mb/s</td>
      <td class="numeric">0.23</td>
      <td class="numeric">53.4</td>
      <td>10/01/2006</td>
    </tr>
    <tr>
      <td>Wirral Council</td>
      <td>Olive Drive</td>
      <td>&gt; 30Mb/s</td>
      <td class="numeric">0.23</td>
      <td class="numeric">53.4</td>
      <td>10/01/2006</td>
    </tr>
    <tr>
      <td>Wirral Council</td>
      <td>Olive Road</td>
      <td>&gt; 30Mb/s</td>
      <td class="numeric">0.23</td>
      <td class="numeric">53.4</td>
      <td>11/10/2008</td>
    </tr>
    <tr>
      <td>Cheshire Council</td>
      <td>Yew tree close</td>
      <td>&gt; 30Mb/s</td>
      <td class="numeric">0.23</td>
      <td class="numeric">53.4</td>
      <td>01/12/2014</td>
    </tr>
    <tr>
      <td>Cheshire Council</td>
      <td>Yew tree gardens</td>
      <td>&gt; 30Mb/s</td>
      <td class="numeric">0.23</td>
      <td class="numeric">53.4</td>
      <td>01/12/2001</td>
    </tr>
    <tr>
      <td>Cheshire Council</td>
      <td>Olive Drive</td>
      <td>&gt; 30Mb/s</td>
      <td class="numeric">0.23</td>
      <td class="numeric">53.4</td>
      <td>10/01/2006</td>
    </tr>
    <tr>
      <td>Cheshire Council</td>
      <td>Olive Drive</td>
      <td>&gt; 30Mb/s</td>
      <td class="numeric">0.23</td>
      <td class="numeric">53.4</td>
      <td>10/01/2006</td>
    </tr>
    <tr>
      <td>Cheshire Council</td>
      <td>Olive Road</td>
      <td>&gt; 30Mb/s</td>
      <td class="numeric">0.23</td>
      <td class="numeric">53.4</td>
      <td>11/10/2008</td>
    </tr>
    <tr>
      <td>Cheshire Council</td>
      <td>Yew tree close</td>
      <td>&gt; 30Mb/s</td>
      <td class="numeric">0.23</td>
      <td class="numeric">53.4</td>
      <td>01/12/2014</td>
    </tr>
    <tr>
      <td>Cheshire Council</td>
      <td>Yew tree gardens</td>
      <td>&gt; 30Mb/s</td>
      <td class="numeric">0.23</td>
      <td class="numeric">53.4</td>
      <td>01/12/2001</td>
    </tr>
  </tbody>
</table>
