{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--
      <a class="link-back" href="#">Back</a>
      -->

      <h1 class="heading-large">
        Eligibility check complete
      </h1>

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Approved for a blue badge permit</h1>
      </div>


      <br>
      <a href="start-page">Do another check</a>

    </div>
  </div>

</main>

{% endblock %}
