{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <!-- <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div> -->

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Check eligibility for a Blue Badge
      </h1>

      <p>Find out if an applicant meets the DLA or PIP requirements to
        automatically receive a Blue Badge. Answer [x] questions about the applicant
        to get an instant response to your query.</p>

      <!-- <ul class="list list-bullet">
        <li>apply to access a government organisation's data</li>
        <li>check a citizen's eligibility for a service</li>
      </uL> -->

      <p>
        <a class="button button-start button-start-page" href="login" role="button">Start now</a>
      </p>


      <h2 class="heading-medium">Before you start</h2>

      <p>You’ll need to have this information about the applicant to complete
        the check:</p>

      <ul class="list list-bullet">
        <li>Proof of identity</li>
        <li>Proof of address</li>
        <li>National Insurance number</li>


    </div>
    <!-- <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Related</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Find a data sharing agreement</a></li>
            <li><a href="#">Learn more about the government legal framework</a></li>
          </ul>
        </nav>
      </aside>

    </div> -->
  </div>

</main>

{% endblock %}
