{% extends "layout.html" %}

{% block page_title %}
  GOV.UK PDE - Referred
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">We couldn’t match the donor’s details</h1>

      <p class="text">
        You can <a href="javascript:window.history.back()">edit the details</a> you entered to make sure they're correct.
      </p>
      <h2 class="heading-medium">Ask for evidence</h3>
      <p>
        If the details are correct, ask the donor to provide evidence showing they receive one of these benefits:</p>

          <ul class="list list-bullet">
            <li>Income Support</li>
            <li>Income-based Employment and Support Allowance</li>
            <li>Guarantee Credit element of State Pension Credit</li>
            <li>Housing Benefit</li>
            <li>Council Tax Reduction, sometimes called Council Tax Support – does not include the single person discount or Class U exemption</li>
            <li>Local Housing Allowance</li>
            <li>
              a combination of Working Tax Credit and at least one of: Child Tax Credit, Disability/Severe Disability Element of Working Tax Credit</li>
          </ul>
        </details>
        <h2 class="heading-medium">Start a new check</h3>
        <p>
          Or <a href="./start-page">check another donor’s details</a>.
        </p>

    </div>
  </div>

</main>

{% endblock %}
