{% extends "layout.html" %}

{% block page_title %}
  GOV.UK PDE - Declined
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Donor is not eligible for an exemption</h1>

      <p>The donor does not receive benefits that qualify for an exemption.
      </p>
      <p>
      They need to pay a lasting power of attorney application fee.
      </p>

      <p>
        <details>
          <summary><span class="summary">Benefits we've checked</span></summary>

          <ul class="list list-bullet">
            <li>Income Support</li>
            <li>Income-based Employment and Support Allowance</li>
            <li>Guarantee Credit element of State Pension Credit</li>
            <li>Housing Benefit</li>
            <li>Council Tax Reduction, sometimes called Council Tax Support – does not include the single person discount or Class U exemption</li>
            <li>Local Housing Allowance</li>
            <li>
              a combination of Working Tax Credit and at least one of: Child Tax Credit, Disability/Severe Disability Element of Working Tax Credit</li>
          </ul>
        </details>
      </p>
      <a class="button" href="start-page" role="button">Check another donor's details</a>
    </div>
  </div>

</main>

{% endblock %}
