{% extends "layout.html" %}

{% block page_title %}
  Personal Data Exchange
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">Warwickshire county council request</h1>

      <p>I need this data for my service because we want to make the service fasterfor our users.</p>

      <p>Is there a legal agreement in place?</p>

      <p>Yes</p>

      <p><a href="#">Review legal agreement</a></p>

      <div class="form-group">
        <a href="#" class="button">Approve</a>
        <a href="/team-b/decline-data-request.html" class="button alert">Decline</a>
      </div>

    </div>
  </div>

</main>

{% endblock %}
