{% extends "layout.html" %}

{% block page_title %}
  Approve Data Agreement - Personal Data Exchange
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">Data sharing agreement approved</h1>
      </div>

      <h2 class="heading-medium">What happens next:</h2>
      <p>Warwickshire county council will receive a notification.</p>

      <a href="/team-b/dashboard.html" class="button">Go back to dashboard</a>

    </div>
  </div>

</main>

{% endblock %}
