{% extends "layout.html" %}

{% block page_title %}
Check Request - Personal Data Exchange
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
  <h1 class="heading-large">Department for Education</h1>
  <h2 class="heading-medium">Free School Meal eligibility check request</h2>

  <table>
    <tbody>
      <tr>
        <th scope="row">Eligibility check</th>
        <td>Free School Meal</td>
      </tr>
      <tr>
        <th scope="row">Data queries</th>
        <td>UC = true</td>
      </tr>
      <tr>
        <th scope="row">Time period</th>
        <td>12 months</td>
      </tr>
      <tr>
        <th scope="row">Justification</th>
        <td>we're transforming this service</td>
      </tr>
    </tbody>
  </table>

  <a href="/team-b/review-legal-agreement-dfe.html" class="button">Review legal agreement</a>
</main>

{% endblock %}