{% extends "layout.html" %}

{% block page_title %}
Dashboard - Personal Data Exchange
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
 <h1 class="heading-large">Dashboard: Department for Work and Pensions</h1>

  <div class="grid-row">
    <div class="column-one-half">
      <div class="boxed-content">
        <div class="data">
          <span class="data-item bold-xlarge">25</span>
          <span class="data-item bold-xsmall"><a href="#">services using your data</a></span>
        </div>
      </div>
    </div>
    <div class="column-one-half">
      <div class="boxed-content">
        <div class="data">
        <span class="data-item bold-xlarge">3</span>
        <span class="data-item bold-xsmall"><a href="#">new requests</a></span>
      </div>
    </div>
  </div>
 </div>

  <h2 class="heading-medium">3 data requests</h2>
  <table>
    <thead>
      <tr>
        <th scope="col">Department</th>
        <th scope="col">Service</th>
        <th scope="col">Eligibility</th>
        <th scope="col">Legal Agreement</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Essex County Council
        </td>
        <td>
          Blue Badge
        </td>
        <td>
          PIP
        </td>
        <td>
          Completed
        </td>
        <td>
          <a href="/team-b/check-request-essex.html">
            Review
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Warwickshire County Council
        </td>
        <td>
          Blue Badge
        </td>
        <td>
          PIP, DLA
        </td>
        <td>
          Second review
        </td>
        <td>
          <a href="/team-b/check-request-warwick.html">Review</a>
        </td>
      </tr>
      <tr>
        <td>
          Department for Education
        </td>
        <td>
          Free School Meals
        </td>
        <td>
          UC
        </td>
        <td>
          New request
        </td>
        <td>
          <a href="/team-b/check-request-dfe.html">
            Review
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</main>

{% endblock %}
