{% extends "layout.html" %}

{% block page_title %}
  Personal Data Exchange
{% endblock %}

{% block content %}

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">

      <div class="column-full">
        <div class="breadcrumbs">
          <ol>
            <li>
                <a href="../govuk-service-manual/index#govuk-products">Components</a>
            </li>
            <li class="active">
              Personal Data Exchange
            </li>
          </ol>
        </div>
      </div>

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">Manage access to your data</h1>
				<p class="lede">Use this service to give access to your department's data in a simple and 
					secure way. Personal Data Exchange provides a technical and legal framework for government departments and bodies to query your data to check citizen eligibility.</p>

        <a class="button button-start" href="https://www.cloud.service.gov.uk/request-trial.html" role="button">
          Get started
        </a>
      </div>
    </div>
  </div>
</div>

<main id="content" role="main">
<div class="grid-row">
	<div class="column-two-thirds">

		<h2 class="heading-large" id="1">Benefits of Personal Data Exchange</h2>

		<p>
		Departments using Personal Data Exchange can:
		</p>

		<ul class="list list-bullet">
			<li>control and automate access to your data</li>
			<li>set up legal agreements with service providers quickly and easily</li>
			<li>minimise data transfer</li>
			<li>integrate with a standardised eligibility checking system</li>
			<li>meet user needs by providing seamless joined up services</li>
			<li>comply with GDPR legislation on transparency and accountability</li>
		</ul>
		
	</div>

    <div class="column-one-third">
        <div class="govuk-related-items">
        </div>
    </div>
  </div>
</main>

{% endblock %}
