{% extends "layout.html" %}

{% block page_title %}
Data Sharing Agreement - Personal Data Exchange
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
  <h1 class="heading-large">
    <span class="heading-secondary">Last updated: 7 June 2017</span>
    Data Sharing Agreement
  </h1>

  <p>Summary of what this data sharing agreement is about.</p>


  <div class="grid-row">
    <div class="column-one-third">
      <ul>
        <li>- Summary</li>
        <li>- Parties involved</li>
        <li>- What data</li>
        <li>- For how long</li>
        <li>- Why</li>
      </ul>
    </div>

    <div class="column-two-thirds">
      <h3 class="heading-medium">Parties involved</h3>
      <p>This data sharing agreement is for Warwickshire County Council (WCC) and Department for Work and Pensions (DWP).</p>
      <h3 class="heading-medium">What data</h3>
      <ul>
        <li>- PIP score</li> 
        <li>- DLA status</li> 
        <li>- Name</li>
        <li>- Age</li>
      </ul>
      <h3 class="heading-medium">For how long</h3>
      <p>The data will be accessed for 6 months</p>
      <h3 class="heading-medium">Why</h3>
      <p>Because yes</p>

      <br>

      <p><a href="#">Download PDF(18kb)<a/></p>

      <a href="/team-b/approve-data-agreement.html" class="button">Approve</a>
      <a href="/team-b/propose-change.html" class="button alert">Decline</a>
    </div>
  </div>

</main>

{% endblock %}