{% extends "layout.html" %}

{% block page_title %}
  Personal Data Exchange
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">Request an eligibility check</h1>

      <p>This service allows you to request an eligibility checks, for this you need to know:</p>
      <ul class="list list-bullet text">
        <li>What's the service your providing to users</li>
        <li>What's your organisation / government department</li>
        <li>What's the information you need to know</li>
      </ul>

      <a href="/team-b/your-service.html" class="button">Continue</a>

    </div>
  </div>

</main>

{% endblock %}
