{% extends "layout.html" %}

{% block page_title %}
  Personal Data Exchange
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">What information do you need to know about your users?</h1>

      <div class="form-group">
        <label class="form-label" for="select-box">Eligibility checks required</label>
        <select class="form-control" id="select-box" name="select-box">
          <option>Eligibility check 1</option>
          <option>Eligibility check 2</option>
          <option>Eligibility check 3</option>
        </select>
        <p><a href="#">Add additional check</a></p>
      </div>

      <div class="form-group">
        <a href="#" class="button">Continue</a>
      </div>

    </div>
  </div>

</main>

{% endblock %}
