{% extends "layout.html" %}

{% block page_title %}
  Personal Data Exchange
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">Whats your service?</h1>

      <div class="form-group">
        <label class="form-label" for="full-name-f1">Service name</label>
        <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
      </div>

      <a href="/team-b/your-organisation.html" class="button">Continue</a>

    </div>
  </div>

</main>

{% endblock %}
