{% extends "layout.html" %}

{% block page_title %}
  GOV.UK PDE - Previous checks
{% endblock %}

{% block content %}

<nav class="secondary-nav-wrapper">
  <ul class="secondary__nav">
    <li class="secondary__nav-item">
      <a class="secondary__nav-link" href="../v2-b/start-page">Check eligibility</a>
    </li>
    <li class="secondary__nav-item active">
      <a class="secondary__nav-link" href="../v2-b/previous-checks">Previous checks</a>
    </li>
  </ul>
</nav>


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Previous checks
      </h1>

      <table>
        <col width="30%">
        <col width="50%">
        <col width="20%">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>25/06/2017</td>
            <td>15:00</td>
            <td><a href="#">Action</a></td>
          </tr>
          <tr>
            <td>25/06/2017</td>
            <td>15:00</td>
            <td><a href="#">Action</a></td>
          </tr>
          <tr>
            <td>25/06/2017</td>
            <td>15:00</td>
            <td><a href="#">Action</a></td>
          </tr>
          <tr>
            <td>25/06/2017</td>
            <td>15:00</td>
            <td><a href="#">Action</a></td>
          </tr>
          <tr>
            <td>25/06/2017</td>
            <td>15:00</td>
            <td><a href="#">Action</a></td>
          </tr>
          <tr>
            <td>25/06/2017</td>
            <td>15:00</td>
            <td><a href="#">Action</a></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</main>

{% endblock %}
