{% extends "layout.html" %}

{% block page_title %}
  GOV.UK PDE - Referred
{% endblock %}

{% block content %}

{% include "includes/secondary_nav.html" %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">We couldnt match the applicants details</h1>

      <p class="text">You can <a href="#">check your answers</a> in the case there was a typo or <a href="../v2-a/start-page">do another check</a></p>

    </div>
  </div>

</main>

{% endblock %}
