{% extends "layout.html" %}

{% block page_title %}
  GOV.UK PDE - Start
{% endblock %}

{% block content %}

<div class="masthead">
  <nav class="breadcrumbs breadcrumbs--inverse" aria-label="Breadcrumbs">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
      <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
      </li>
      <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="/" itemprop="item"><span itemprop="name">GOV.UK Personal data exchange</span></a>
      </li>
    </ol>
  </nav>

  <div class="hero hero--breaded">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title heading-xlarge">Check an applicant's eligibility for a Blue Badge</h1>
        <p class="hero__description">
          Find out if an applicant meets the Disability Living Allowance or Personal Independence Payment requirements for getting a Blue Badge. 

          Answer four questions to get a result instantly. </p> </br>
          
          <p>
            You’ll just need the applicant’s name, address, National Insurance number and date of birth before you start.
        </p>
        <a href="../v2-b/signin" role="button" class="hero-button">
          Sign in
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
