{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Request to use an eligibility checker
      </h1>

      <p>Use this service to:</p>

      <ul class="list list-bullet">
        <li>draft a Data Sharing Agreement (DSA) request that will let you use a <a href='../team-b/product-page.html'>GOV.UK eligibility checker</a>.</li>
        <li>submit the DSA request to the government department that owns the data you need.</li>
      </uL>

      <p>Requesting takes around 15 minutes. You can review the request before it's sent.</p>

      <p>
        <a class="button button-start" href="./apply-now.html" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>Only central and local government can use this service. You'll need an e-mail address ending with gov.uk to apply.</p>

      <p>You'll need to know the name and e-mail address of your department's Senior Information and Risk Owner (SIRO) or equivalent
        information owner to complete the requset. They'll need to sign the request before it can be used.</p>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Subsection</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}

