{% extends "layout.html" %}

{% block page_title %}
  Personal Data Exchange
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-large">Confirm how the eligibility check will be accessed</h2>

      <form action="./blue-badge-when" method="POST">
      <div class="form-group">
        <p>Does the following statement explain how you will access the data?</p>
        <div class="panel panel-border-wide">
          Data will be accessed and returned via the PDE API.
        </div>

        <div class="multiple-choice">
          <input type="radio" name="data-access" id="data-access-yes" value="Yes"/>
          <label for="data-access-yes">Yes</label>
        </div>
        <div class="multiple-choice" data-target="edit-data-access">
          <input type="radio" name="data-access" id="data-access-no" value="No"/>
          <label for="data-access-no">No</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="edit-data-access">
          <label class="form-label-bold" for="custom-data-access">How will you access the eligiblity check data?</label>
          <textarea class="form-control" name="custom-data-access" id="custom-data-access"></textarea>
        </div>
      </div>

  <div class="grid-row">
    <div class="column-full">
      <input type="submit" class="button" value="Next"/>
    </div>

    </form>
</main>

{% endblock %}



