{% extends "layout.html" %}

{% block page_title %}
  Personal Data Exchange
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-large">Confirm when the eligibility check will be used</h2>

      <form action="./blue-badge-legal-power" method="POST">
        <div class="form-group">
          <p>Does the following statement explain when you will access the data?</p>
          <div class="panel panel-border-wide">
          </div>

          <div class="multiple-choice">
            <input type="radio" name="data-access" id="data-access-yes" value="Yes"/>
            <label for="data-access-yes">Yes</label>
          </div>
          <div class="multiple-choice" data-target="edit-data-access">
            <input type="radio" name="data-access" id="data-access-no" value="No"/>
            <label for="data-se-no">No</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="edit-data-access">
            <label class="form-label-bold" for="custom-data-access">When will you access the data?</label>
            <textarea class="form-control" name="custom-data-a" id="custom-data-access"></textarea>
          </div>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Next"/>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
