{% extends "layout.html" %}

{% block page_title %}
  Personal Data Exchange
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-large">Confirm how the eligibility check will be accessed</h2>

      <form action="./blue-badge-when" method="POST">
      <div class="form-group">
        <p>Does the following statement explain how you will access the data?</p>
        <div class="panel panel-border-wide">
          Data will be accessed and returned via the <a href='#'>PDE API</a>.
        </div>

        <div class="multiple-choice">
          <input type="radio" name="data-how" id="data-how-yes" value="Yes"/>
          <label for="data-how-yes">Yes</label>
        </div>
        <div class="multiple-choice" data-target="edit-data-how">
          <input type="radio" name="data-how" id="data-how-no" value="No"/>
          <label for="data-how-no">No</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="edit-data-how">
          <label class="form-label-bold" for="custom-data-how">How will you how the eligiblity check data?</label>
          <textarea class="form-control" name="custom-data-how" id="custom-data-how"></textarea>
        </div>
      </div>

  <div class="grid-row">
    <div class="column-full">
      <input type="submit" class="button" value="Next"/>
    </div>

    </form>
</main>

{% endblock %}



