{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Request complete</h1>
        <p></p>
      </div>

      <h2 class="heading-medium">What happens next</h2>
      <p>Your request has been sent to the Department of Work and Pensions (DWP).</p>
      <p>The person you specified will be contacted to complete and sign the agreement.</p>
      <p>You can track your request via the <a href='#'>dashboard</a>.</p>

      <a href="./apply-start" class="button button-grey">Apply for another checker</a>
    </div>
  </div>

</main>

{% endblock %}
