{% extends "layout.html" %}

{% block page_title %}
  Personal Data Exchange
{% endblock %}

{% block content %}

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">

      <div class="column-full">
        <div class="breadcrumbs">
          <ol>
            <li>
                <a href="../govuk-service-manual/index#govuk-products">Components</a>
            </li>
            <li class="active">
              Personal Data Exchange
            </li>
          </ol>
        </div>
      </div>

      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Check citizen eligibility</h1>
        <!-- TODO: what about providing citizens with this capability automatically?? -->
        <p class="lede">Use an automated eligibility check to access authoritative citizen data in real time from other government departments</p>
        <a class="button button-start" href="./sign-in" role="button">
          Check now
        </a>
        or <a href='./apply-now'>apply now</a> if you've not used this service before.
      </div>
    </div>
  </div>
</div>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large" id="1">Personal Data Exchange</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p </p>
    </div>

    <div class="column-one-third">
        <div class="govuk-related-items">
        </div>
    </div>
  </div>
</main>

{% endblock %}
