{% extends "layout.html" %}

{% block page_title %}
  Personal Data Exchange
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-large">Confirm what eligibility check will be accessed</h2>

          <p>
          A citizen is automatically eligible for a Blue Badge if:
          <ul class="list list-bullet">
            <li>They have a score of 8 or more on the 'moving around' part of Personal Independence Payment criteria, or</li>
            <li>They receive the higher rate of the mobility component of the Disibility Living Allowance</li>
          </ul>
          as set by the Department for Transport.
        </p></div>
  </div>
  <br/>

  <div class="grid-row">
    <div class="column-full">

      <form action="./blue-badge-who" method="POST">
      <div class="form-group">
        <p>Does the following statement explain what data you want to receive?</p>
        <div class="panel panel-border-wide">
          I want to receive only a yes or no answer to the Blue Badge eligibility criteria and an expiry date for the eligibility.
        </div>

        <div class="multiple-choice">
          <input type="radio" name="data-what" id="data-what-yes" value="Yes"/>
          <label for="data-what-yes">Yes</label>
        </div>
        <div class="multiple-choice" data-target="edit-data-what">
          <input type="radio" name="data-what" id="data-what-no" value="No"/>
          <label for="data-what-no">No</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="edit-data-what">
          <label class="form-label-bold" for="custom-data-what">What data do you want to receive?</label>
          <textarea class="form-control" name="custom-data-what" id="custom-data-what"></textarea>
        </div>
      </div>

      <div class="form-group">
        <p>Do you agree to provide the following citizen data in order to receive the eligibility results?</p>
        <div class="panel panel-border-wide">
          <ul class="list list-bullet">
            <li>First name</li>
            <li>Surname</li>
            <li>Date of birth</li>
            <li>National Insurance number</li>
          </ul>
        </div>

        <div class="multiple-choice">
          <input type="radio" name="data-what" id="data-what-yes" value="Yes"/>
          <label for="data-what-yes">Yes</label>
        </div>
        <div class="multiple-choice" data-target="edit-data-what">
          <input type="radio" name="data-what" id="data-what-no" value="No"/>
          <label for="data-what-no">No</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="edit-data-what">
          <label class="form-label-bold" for="custom-data-what">What data do you want what to?</label>
          <textarea class="form-control" name="custom-data-what" id="custom-data-what"></textarea>
        </div>
      </div>

      <div class="form-group">
        <p>Does the following statement explain how you will use the data?</p>
        <div class="panel panel-border-wide">
          You will only use the check to confirm whether a citizen automatically qualifies for a Blue Badge. 
        </div>

        <div class="multiple-choice">
          <input type="radio" name="data-use" id="data-use-yes" value="Yes"/>
          <label for="data-use-yes">Yes</label>
        </div>
        <div class="multiple-choice" data-target="edit-data-use">
          <input type="radio" name="data-use" id="data-use-no" value="No"/>
          <label for="data-use-no">No</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="edit-data-use">
          <label class="form-label-bold" for="custom-data-use">How do you intend to use the data?</label>
          <textarea class="form-control" name="custom-data-use" id="custom-data-use"></textarea>
        </div>
      </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <input type="submit" class="button" value="Next"/>
    </div>

    </form>
</main>

{% endblock %}


