{% extends "layout.html" %}

{% block page_title %}
  Personal Data Exchange
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-large">Confirm when the eligibility check will be used</h2>

      <form action="./confirm" method="POST">
        <div class="form-group">
          <p>Does the following statement explain when you will access the data?</p>
          <div class="panel panel-border-wide">
            Eligibility checking will happen only when citizen's Blue Badge application
            has been received and they have given permission to perform an eligibility check.
          </div>

          <div class="multiple-choice">
            <input type="radio" name="data-when" id="data-when-yes" value="Yes"/>
            <label for="data-when-yes">Yes</label>
          </div>
          <div class="multiple-choice" data-target="edit-data-when">
            <input type="radio" name="data-when" id="data-when-no" value="No"/>
            <label for="data-when-no">No</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="edit-data-when">
            <label class="form-label-bold" for="custom-data-when">When will you when the data?</label>
            <textarea class="form-control" name="custom-data-when" id="custom-data-when"></textarea>
          </div>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Next"/>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}