{% extends "layout.html" %}

{% block page_title %}
  Personal Data Exchange
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">June 2017 — Design sprint</span>
        Prototype decisions
      </h1>

      <p class="lede">
        This document describes the decisions taken about what prototype ideas
        we are going to take forward.
      </p>
    </div>

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
         <h1 class="heading-medium">How we decide</h1>
         <ul class="list">
           <li>What's the PDE USP from this prototype?</li>
           <li>What do we want to learn from this prototype?</li>
        </ul>

        <h1 class="heading-medium">Prototypes</h1>
         <ul>
           <li>
            <h2>Provide a thing to </h2>
            Do service providers see the value of this?
            Is this something that we want?
            What are the things that would need to happen to make this work?
          </li>
          <li>
            <a href="/start.html">Eligibilty check</a><br/>
          </li>

    	 </ul>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
         <h1>Team B</h1>

         <h1 class="heading-medium">Thoughts</h1>
         <ul class="list">
           <li>
              <a href="#">TODO</a>
           </li>
           <li>
        </ul>
         <h1 class="heading-medium">Prototypes</h1>

         <ul>
           <li>
            <a href="/product-page.html">Product page</a><br/>
          </li>
          <li>
            <a href="/start.html">Eligibilty check</a><br/>
          </li>

    	 </ul>
    </div>
  </div>

</main>

{% endblock %}
