{% extends "layout.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
  <h1 class="heading-large">
    Things we've been talking about
  </h1>

        <h2 class="heading-medium">
          What and why
        </h2>
        <p>We’ve focused on data authorities because we think they’re the first ones
          we need to bring onboard as we’re assuming there will be some tasks we need
         them to do.
        </p>

        <h2 class="heading-medium">
          Things we've learnt
        </h2>
        <ul class="list list-bullet">
          <li>services are service providers. Departments are data authorities.</li>
          <li>data authorities are just service providers who collected data for a different service.</li>
          <li>we need real data to prove this works</li>
          <li>we think there's a pattern in data sharing agreements and it can be standarised</li>
        </ul>

        <h2 class="heading-medium">
          What's next
        </h2>
        <ul class="list list-bullet">
          <li>we need real data to work with</li>
          <li>we need to define a metadata schema for one blue badge query</li>
          <li></li>
        </ul>

        <h2 class="heading-medium">
          Things we want to learn
        </h2>
        <h3>About data authorities</h3>
        <ul class="list list-bullet">
          <li>what’s the current journey to share data?
            how different is it from direct relationship to when it’s with 3rd parties?
            when do 3rd parties get involved?</li>
          <li>when do they say yes to sharing data?</li>
          <li>who makes decisions? who is the doer?</li>
          <li>what informs decisions</li>
          <li>what do data authorities see themselves as?</li>
          <li>what requirements are on a department to be a data sharer?</li>
          <li>what problem are we solving for them?</li>
          <li>do you know what data is in demand</li>
          <li>who would use it?</li>
          <li>what requirements are on a department to be a data sharer?</li>
        </ul>

        <h3>About service providers</h3>
        <ul class="list list-bullet">
          <li>how do they currently request access to data?</li>
          <li>who makes decisions? who is the doer?</li>
          <li>what informs decisions</li>
          <li>how is it shared? formats, channels...</li>
          <li>how is it monitored or updated</li>
          <li>what are the key pain points</li>
          <li>what problem are we solving for them?</li>
          <li>who would use it?</li>
        </ul>
        <h3>misc</h3>
        <ul class="list list-bullet">
          <li>if we should standardised data sharing agreements per eligibility check</li>
          <li>what roles are involved in data sharing?</li>
        </ul>
        </ul>

        <h3>notes</h3>
        <ul class="list list-bullet">
          <li>how might we help service providers to navigate the legal landscape</li>

        </ul>

    </div>
  </div>
</main>

{% endblock %}
