{% extends "layout.html" %}

{% block page_title %}
  Personal Data Exchange
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">Why are you declining?</h1>

      <p>Explain to Warwickshire County Council the reasons to decline thier request</p>

      <div class="form-group">
        <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>
      </div>

      <a href="#" class="button">Send</a>

    </div>
  </div>

</main>

{% endblock %}
