{% extends "layout.html" %}

{% block page_title %}
Personal Data Exchange
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">June 2017 — Design sprint</span>
        Personal Data Exchange
      </h1>

      <p class="lede">
        Goal: TODO
      </p>
    </div>

  </div>

  <div class="grid-row">
    <div class="column-one-half">
     <h1 class="heading-large">Team A</h1>

     <h1 class="heading-medium">Thoughts</h1>
     <ul class="list">
       <li>
        <a href="/info/prototype-decisions.html">Prototype decisions</a>
      </li>
      <li>
      </ul>
      <h1 class="heading-medium">Prototypes</h1>

      <ul>
       <li>
        <a href="/team-a/product-page.html">Product page</a><br/>
      </li>
      <li>
        <a href="/team-a/check-eligibility/start-page.html">Eligibility check</a><br/>
      </li>
    </ul>
  </div>

  <div class="column-one-half">
    <h1 class="heading-large">Team B</h1>

    <h1 class="heading-medium">Day 1</h1>

    <h1 class="heading-small">Thoughts</h1>
    <ul class="list">
     <li>
      <a href="#">TODO</a>
    </li>
    <li>
    </ul>

    <h1 class="heading-small">Prototypes</h1>
    <ul>
      <li>
        <a href="/team-b/product-page.html">Product page</a>
      </li>
      <li>
        <a href="/team-b/start.html">Eligibilty check</a>
      </li>
      <li>
        <a href="/team-b/approve-legal-agreement.html">Approve legal agreement</a>
      </li>
      <li>
        <a href="/team-b/approve-data-request.html">Approve data request</a>
      </li>
    </ul>

    <h1 class="heading-medium">Day 2</h1>
    <ul>
      <li>
        <a href="/team-b/product-page-2.html">Product page</a>
      </li>
    </ul>
  </div>
</div>

</main>

{% endblock %}
