{% extends "layout.html" %}

{% block page_title %}
  Find government data
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">June 2017 — Design sprint</span>
        Personal Data Exchange
      </h1>

      <p class="lede">
        Goal: TODO
      </p>
    </div>

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

         <h1 class="heading-medium">Thoughts</h1>
         <ul class="list">
           <li>
              <a href="#">TODO</a>
           </li>
           <li>
        </ul>
         <h1 class="heading-medium">Prototypes</h1>

         <ul>
           <li>
            <a href="/product-page.html">Product page</a><br/>
          </li>

    	 </ul>
    </div>
  </div>

</main>

{% endblock %}


