{% extends "layout.html" %}

{% block page_title %}
  Personal Data Exchange
{% endblock %}

{% block content %}

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">

      <div class="column-full">
        <div class="breadcrumbs">
          <ol>
            <li>
                <a href="../govuk-service-manual/index#govuk-products">Components</a>
            </li>
            <li class="active">
              Personal Data Exchange
            </li>
          </ol>
        </div>
      </div>

      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Let users prove their eligibility online</h1>
	<p class="lede">The Personal Data Exchange network allows users to prove their eligibility for services online, so that you can be sure that you are providing services to people who qualify for them. Using Personal Data Exchange to prove peoples' eligibility means that you can build a fully digital, one-stop, self-serve, online service with a definitive answers for the citizen at the point of use.</p>
	<div class="panel panel-border-wide">
		<p>This guidance is for government teams that manage personal data. If you’re a member of the public you can
		<span class="hero-alternative-action">
			<a href="https://data.blog.gov.uk/2017/01/19/building-data-infrastructure-for-personal-data/">find out more about Personal Data Exchange</a>.
		</span>
		</p>
	</div>
        <a class="button button-start" href="https://www.cloud.service.gov.uk/request-trial.html" role="button">
          Get started
        </a>
      </div>
    </div>
  </div>
</div>

<main id="content" role="main">
<div class="grid-row">
	<div class="column-two-thirds">
		<h2 class="heading-large" id="1">Benefits of Personal Data Exchange</h2>
		<p>Making your department's data available through the Personal Data Exchange network gives you a single point of integration for exchanging citizen data with the rest of government. It is safe and secure. The Personal Data Exchange network provides a common language for the exchange of data which means that departments can spend more time negotiating the details for particular shares to ensure that they are necessary and proportionate and less time implementing and assuring a bespoke technical system for individual relationships.</p>
    </div>

    <div class="column-one-third">
        <div class="govuk-related-items">
        </div>
    </div>
  </div>
</main>

{% endblock %}
