{% extends "layout.html" %}

{% block page_title %}
  Personal Data Exchange
{% endblock %}

{% block content %}

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">

      <div class="column-full">
        <div class="breadcrumbs">
          <ol>
            <li>
                <a href="../govuk-service-manual/index#govuk-products">Components</a>
            </li>
            <li class="active">
              Personal Data Exchange
            </li>
          </ol>
        </div>
      </div>

      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Manage data access</h1>
        <p class="lede">Provide access to your data in a secure way</p>
        <a class="button button-start" href="#" role="button">
          Get started
        </a>
      </div>
    </div>
  </div>
</div>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large" id="1">Meet users' needs</h2>
      <p>The new legislation</p>
      <ul>
        <li>their data is safe</li>
        <li>we only use the data that is needed</li>
      </ul>
    </div>

    <div class="column-two-thirds">
      <h2 class="heading-large" id="1">Control your data</h2>
      <p> vero eos et accusam et ju</p>
    </div>

    <div class="column-two-thirds">
      <h2 class="heading-large" id="1">Improve the quality of your data</h2>
      <p>  sit amet. Lorem ipsum dolor sit amet, ciam </p>
    </div>

    <div class="column-one-third">
        <div class="govuk-related-items">
        </div>
    </div>
  </div>
</main>

{% endblock %}
